/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font-family */
body {
  font-family: 'Google Sans', sans-serif;
}

/* Set background color */
body {
  background-color: #dfe3e6;
}

/* Limit width of body */
#body {
  width: 350px;
  margin: 0 auto;
}

/* Style top section */
.top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: maroon;
  color: white;
  position: relative;
}

#inf-button {
  position: absolute;
  top: 22px; 
  right: 10px;
  padding: 5px 6px; 
  background-color: maroon;
  color: white; 
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
}

#inf-button:hover {
  background-color: gray; 
}

/* Hide popup by default */
.popup {
  display: none;
  position: absolute;
  top: 70px;
  right: 0;
  width: 100%;
  height: 250px;
  background-color: white;
  padding: 10px;
  font-family: 'Google Sans', sans-serif;
  background-image: linear-gradient(to top, white, #bdc3c7);
  color: black;
  border: solid 1px;
}

.title {
  font-size: 1.5rem;
  margin-left: 10px;
}

/* Style URL section */
.url {
  padding: 10px;
  background-color: white;
  font-size: 3vw;
}

/* Style button */
.button-container {
  display: flex;
  justify-content: center;
}

#button {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#button:hover {
  background-color: lightcoral;
}

.hidden {
  display: none;
}

#hiddenButton{
  justify-content:space-around;
  display: flex;
  align-items: center;
}

#my-button:hover {
  background-color: gray;
  color: white;
}

/* Style results section */
#resultList {
  background-color: #dfe3e6;
}

#resultdiv{
  font-weight: bold;
  color: white;
}

#result{
  padding: 8px;
}

.result .name {
  font-weight: bold;
}

.result .value {
  margin-left: 10px;
}

/* Style status and index section */
#status{
  padding: 2px;
  margin-top: 10px;
  text-align: center;
  font-style: italic;
  color: black;
  background-color: white;
}

table{
  width: 100%;
  padding: 10px;
}


